<div class="container">
  <h1><%= @restaurant.name %></h1>
  <hr>
  <h2><%= @restaurant.address %></h2>
  <hr>
  <h2><%= @restaurant.category %></h2>
  <hr>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li> <%= review.content %> <br> <%= review.rating %> </li>
  <% end %>
</ul>
  <%= link_to "Write a review!", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  <br>
  <%= link_to "Go back to all restaurants", restaurants_path, class: "btn btn-primary" %>
</div>
